.navbar-toggler{
border: 0px;
width: 60px;
    
    
    
}



.navbar{
    padding-bottom: 0px;
      box-shadow:  0px 3px 4px rgba(0,0,0,0.07);
    margin-bottom: 0px
   

    
    
}
.fb{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px
}

.nav-link{
   margin-left: 40px;
    margin-right: 10px
   
    
    
    
}


.nav-link:hover{
    color:lightgreen !important
}


span{
font-size: 30px;
padding-left: 40%;
    
font-weight: bold;
       font-family: Barlow
    
   
 
}

.go{color:#303033;
}



ul{
    list-style: none;

   
    
     
}


.li{margin-left: 10px;
    margin-right: 10px
}


span{
    color:#363836
}





footer{
    background-color: #303033;
    
Padding-bottom:1px;
Padding-top:15px;
Line-height:25px;
    
     height="5px";
    text-align: center;
    margin-top: 50px
}

.last{color:white;
font-size:15px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:30px; 
    margin-right: 10px;
    margin-left: 10px
}



#hard{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 0px;
    margin-top: 50px;
    color: lightgreen
    
}

#vision{
    text-align: center;
    font-size: 30px;
    background-color: #dbffe2;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold
   
    
}

#word{
    text-align: center;
    padding-bottom: 30px;
     background-color:#dbffe2;
    margin-top: 0px;
    color: grey;
    
}

#ready{ text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px
}


#career{
    text-align: center
}

#join{
    text-align: center;
    color: gray
}

#team{
    text-align: center;
    font-size: 25px;
  margin-top: 50px;
    margin-bottom: 250px;
   padding-bottom: 0px;
    font-weight: bold;
     border-bottom: solid 5px  ;
    border-image-source:  linear-gradient(to right, white 35%, skyblue, white 65% );
    border-image-slice: 1;
    
}