.navbar-toggler{
border: 0px;
width: 60px;
    
    
}
body{
    background-color:white;
        margin:0px;
    padding: 0px;
    height:100% 
    
}

.bootstrap{
    
   display: flex;
  flex-wrap: wrap;
    margin-top: 40px
}



.card{
    margin: 20px;
    box-shadow:  2px 2px rgba(0,0,0,0.2);
    
    
}

span{
font-size: 30px;
padding-left: 40%;
    
font-weight: bold;    
       font-family: Barlow
    
    
 
}

.go{
    color:#303033
}

li{
    margin-left: 30px
}


.nav-link{
    margin-left: 40px;
    
    
}
.navbar{
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  
      box-shadow:  0px 3px rgba(0,0,0,0.1);
  

    

  

    
    
}





.netcard{
    display: flex;
  flex-wrap: wrap;
}

.blog{
    text-align: center;
   
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: lightgreen
}

.text{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
    margin-top: 30px;
    margin-bottom: 200px;
    
}



footer{
    background-color: #303033;
    
Padding-bottom:1px;
Padding-top:15px;
Line-height:25px;
    
     height="5px";
    text-align: center;
    margin-top: 70px
}

.last{color:white;
font-size:15px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:30px; 
    margin-right: 10px;
    margin-left: 10px
}





