



.horizontal{
   

   display: flex;
  flex-wrap: wrap;
    justify-content: center;
  padding-top: 40px;
    
  
   
   
   
}

.image2{
    width: 50px;
    height: 50px;
    margin-left: 90px;
    margin-right:90px;
  
  
    
}





.navbar{
    padding-bottom: 0px;
      box-shadow:  0px 3px rgba(0,0,0,0.1);
  

    
    
}

.nav-link{
    margin-left: 40px;
    
}


span{
font-size: 30px;
padding-left: 40%;
    
font-weight: bold;
    
   
 
}

.go{
    color:lightgreen
}

li{
    margin-left: 30px
}

ul{
    list-style: none;
    
   
    margin-bottom: 20px;
    
     
}






span{
    color:#363836
}




*{
 margin-top: 0px;
    padding-top: 0px
}

.contact{
    text-align: center;
    font-size:30px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 3000;
    background-color: lightgreen
    
    
}

.text{
    padding-left:10%;
    margin-top: 60px;
    margin-bottom: 30px
}

.body{

    height: 100%;
    padding-top: 0px;
    margin-top: 0px;
    overflow: auto
}
footer{
    background-color: #303033;
    
Padding-bottom:1px;
Padding-top:15px;
Line-height:25px;
    
     height="5px";
    text-align: center;
    margin-top: 70px
}

.last{color:white;
font-size:15px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:30px; 
    margin-right: 10px;
    margin-left: 10px
}












.hi{
    margin-top:19px;
    font-weight: bold
}



.safe21{color:gray;
    font-weight: 100;
    margin-top: 0px;
   
    
 }


.item{
text-align: center;
 
    margin: 10px;
    margin-bottom: 0px;
    
}





