.navbar-toggler{
border: 0px;
width: 60px
    
    
}p{
    padding-left: 5%
}
.navbar{
    padding-bottom: 0px;
      box-shadow:  0px 3px rgba(0,0,0,0.1);
  

    
    
}

.nav-link{
    margin-left: 40px;
    
}


span{
font-size: 30px;
padding-left: 40%;
    
font-weight: bold;
       font-family: Barlow
    
   
 
}

.go{
    color:#303033
}

li{
    margin-left: 30px
}

ul{
    list-style: none;
    
   
    margin-bottom: 20px;
    
     
}






span{
    color:#363836
}





footer{
    background-color: #303033;
    
Padding-bottom:1px;
Padding-top:15px;
Line-height:25px;
    
     height="5px";
    text-align: center;
    margin-top: 450px
}

.last{color:white;
font-size:15px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:30px; 
    margin-right: 10px;
    margin-left: 10px
}
