.navbar-toggler{
border: 0px;
width: 60px
    
    
}


.navbar{
    padding-bottom: 0px;
      box-shadow:  0px 3px 4px rgba(0,0,0,0.1);
  

    
    
}

.nav-link{
    margin-left: 40px;
    
}


span{
font-size: 30px;
padding-left: 40%;
    
font-weight: bold;
       font-family: Barlow
    
   
 
}

.go{
    color:#303033
}


li{
    margin-left: 0px;
    margin-right: 10px
}

ul{
    list-style: none;
    
   
    margin-bottom: 20px;
    
     
}






span{
    color:#363836
}





footer{
    background-color: #303033;
    
Padding-bottom:1px;
Padding-top:15px;
Line-height:25px;
    
    text-align: center;
    margin-top: 0px
}

.last{color:white;
font-size:15px;
margin-bottom:20px;
margin-top:90px;
}

a.last:hover{
    color: black
}
#legal{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 12px;
    color: grey;
    margin-top: 10px
}
.social {
    width: inherit;
    height: 25px;
    margin-top:30px; 
    margin-right: 10px;
    margin-left: 10px
}


#want{
text-align: center;
    padding-top: 40px;
   padding-bottom: 40px;
    font-size: 30px;
     background-color: #dbffe2;
}

.button{

  border: none;
 
  padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
    background-color: lightgreen;
    border-radius: 5px;
      
  margin-left: 30%
    

}

.benifits{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 700px
}








.join {
text-align: center;
    margin-bottom: 30px;
}
    

